#root {
  width: 100vw;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.bg-container {
  background-image: url('../assets/Images/fullscreen-bg-2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: clip;
  scrollbar-width: none; /* For Firefox */
}

.bg-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}