body {
    font-family: satoshi, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #121212;
    line-height: 130%;
}

p {
    color: #121212;
    /* case-study/section-body */
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-align: left;
}


button {
  text-decoration-color: #121212;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.nh {
  transform: none !important;
}

.list-item-cs {
  text-align: left !important;
  margin-bottom: 12px;

  color: #121212;
  /* case-study/section-body */
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  text-align: left;
}

.title {
    color: #121212;
    text-align: center;
    font-family: Satoshi;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 57.2px */
    width: 80vw;
    max-width: 1000px;
}

.heading {
  color: #121212;
  width: 100%;
  /* case-study/section-header */
  font-family: "PP Editorial New";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  text-align: left;
}

.centered-text {
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .main-content-case {
    width: 90vw;
    gap: 64px !important;
  }
}


  /* Main content styles */
  .main-content-case {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 128px;
    padding-top: 200px;
    animation: riseIn 1.5s ease-out forwards; 
    }  

  .header-mfp {
    background-image: url('images/mfp/header-background.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .header-dm {
    background-image: url('images/dm/DM-header-background2.png');
    background-size: cover;
    background-position: bottom;
    background-color: white;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    opacity: 98.5%;    

  }

  .header-image {
    width: 80vw;
    padding: 100px 0;
  }

  /* main-content styles */

  /* .main-content {
    align-self: stretch;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 92px;
    padding: 0 48px;
  } */

  /* heading-text pair style */
  
  .ht-pair {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /* introduction and context styles */

  @media only screen and (max-width: 600px) {
    .ht-pair {
      max-width: 80vw !important;
    }

    .title {
      font-size: 20px !important;
      text-align: left;
    }
    .header-image {
      padding: 48px 0;
    }

    .heading {
      font-size: 16px !important;
    }
    body {
      font-size: 14px !important;
      line-height: 18px !important;
    }

    p {
      font-size: 14px !important;
    }

    .list-item-cs {
      font-size: 14px !important;
    }

    .introduction {
      gap: 48px;
    }
    .left-side-divider {
      display: none !important;
    }
    .the-solution-body {
      display: flex;
      flex-direction: column !important;
      width: 100%;
    }
    .solution-image-container img {
      width: 80vw !important;
      max-width: 500px !important;
    }
    .solution-text {
      min-width: 0px !important;
    }
    .user-research-body {
      width: 80vw;
    }
    .user-research-text {
      width: 80vw !important;
      /* max-width: ; */
    }
    .scrollable-container {
      /* width: 300px !important;
      min-width: 0px !important; */
      min-width: 0px !important;
      width: 300px !important;
      height: 200px !important;
      min-height: 150px;
    }
    .interview-card {
      width: 300px !important;
      height: 180px;
    }
    .scrollable-container {
      height: auto;
      min-height: 150px;
      width: 100%;
    }
    .scrollable-content {
      width: 90vw;
    }
    .competitive-analysis-body {
      width: 90vw;
    }
    .competitive-analysis-text {
      max-width: 80vw !important;
      /* width: 100%; */
    }
    .swot-container {
      width: 90vw;
    }
    .swot-card {
      width: 90vw !important;
    }
    .nav-issues-body {
      width: 100% !important;
    }
    .nav-issue {
      width: 100% !important;
    }
    .nav-issue-text {
      min-width: 0px !important;
      width: 100% !important;
    }
    .nav-issue-img {
      width: 100% !important;
      min-width: 0px !important;
    }
    .nav-issue-iterations {
      flex-direction: column !important;
    }
    .iteration {
      width: 100% !important;
    }
    .cc-body {
      flex-direction: column !important;
    }
    .actual-prototype {
      /* display: flex; */
      width: 80vw !important;
      height: 90vh !important;
    }
    .solution-column {
      align-items: center;
    }

    .prototype {
      display: flex;
      width: 100vw;
      flex-direction: column;
      align-items: center;
    }
    #scroll-button {
      font-size: 14px !important;
      padding: 24px !important;
    }
    .the-problem-text-dm {
      width: 100%;
    }
    .the-problem-body-dm {
      max-width: 80vw !important;
    }
  }

  .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    max-width: 800px;
  }

  .context {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 768px;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
  }

  .context .flex-row {
    display: flex;
    flex-direction: row;
    gap: 64px;
  }

  .context-left {
    display: flex;
    min-width: 320px;
    max-width: 360px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .context-right {
    min-width: 320px;
    max-width: 360px;
  }

  #scroll-button {
    font-size: 20px;
    color: #121212;
    padding: 24px 64px;
    align-items: center;
    border-radius: 64px;
    border: 2px #121212 solid;
    text-align: center;
    transition: transform 0.3s ease;
  }

  #scroll-button:hover {
    transform: scale(1.1);
  }

  @media only screen and (max-width: 600px) {
    .sub-section {
      gap: 48px !important;
    }
    .context {
      justify-content: center !important;
    }

  }

.sub-section {
    display: flex;
    flex-direction: column;
    gap: 92px;
    width: 90vw;
    align-items: center;
}

  /* The problem section styles */

.the-problem-body {
  display: flex;
  max-width: 800px;
}

.the-problem-body-dm {
  display: flex;
  max-width: 1000px;
  gap: 64px;
  flex-direction: column;
}

.the-problem-text-dm {
  flex-direction: column;
}

  /* The problem section styles */

.the-solution-body {
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    /* flex-wrap: wrap; */
}

.solution-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 300px;
    gap: 36px;
}

/* .solution-item {
  flex-direction: column;
  gap: 24px;
} */

.solution-image-container img {
  max-width: 600px;
  min-width: 360px;
  align-self: stretch;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* User Research Sub-section styles */

.user-research-body {
  flex-direction: column;
  gap: 72px;
}

.user-research-text {
  flex-direction: column;
  max-width: 800px;
}

.scrollable-container {
  width: 768px; /* Set a fixed width for the container */
  min-width: 500px;
  overflow-x: auto; /* Enable horizontal scrolling */
  height: 432px;
}

.scrollable-content {
  white-space: nowrap;
  gap: 16px;
  object-fit: cover;
}

/* key pain points */

/* .key-pain-points-header {
  display: flex;
  flex-direction: column;
  gap: ;
} */

.key-pain-points-body {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 800px;
}

.key-pain-point-header {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.pain-point {
  width: 100%;
}

/* lit analysis  */

.lit-analysis-body {
  flex-direction: column;
  max-width: 800px;
}

.lit-analysis-text {
  flex-direction: column;
  gap: 0;
}

/* competitive analysis */

.competitive-analysis-body {
    display: flex;
    max-width: 840px;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.competitive-analysis-text {
  max-width: 800px;
}

.competitor-icon-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.competitor-identifier {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.competitor-icon {
  width: 116px;
  height: 116px;
  border-radius: 24px;
  object-fit: cover;
}

.swot-container {
    display: flex;
    max-width: 840px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
}

.swot-card {
  width: 40%;
  height: fit-content;
  border-radius: 24px;
  background-color: white;
  border: 2px solid rgb(243, 243, 243);
  padding: 20px;
}

/* jobs to be done */

.jobs-tbd-body {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 96px;
  justify-content: center;
  align-items: center;
}

.jobs-tbd-text {
  max-width: 800px;
}

.hmw-section {
  gap: 24px;
  flex-direction: column;
}

.hmw-indiv-section {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.hmw-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}

.hmw {
  width: 180px;
  height: 207px;
  object-fit: cover;
}

.funky-sizing{
  transform: scale(1.1);
}

/* navigation issues section */

.nav-issues-body {
  display: flex;
  max-width: 1000px;
  gap: 80px;
  flex-direction: column;
  align-content: center;
}

.nav-issue {
  display: flex;
  gap: 48px;
  max-width: 1000px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-issue-text {
  width: 45%;
  min-width: 400px;
}

.nav-issue-img {
  width: 50%;
  min-width: 400px;
  object-fit: scale-down;
}

.nav-issue-visual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-issue-iterations {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.iteration {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  gap: 24px;
  justify-content: center;
}

.iteration-1-text {
  width: 40%;
  min-width: 200px;
  align-self: flex-end;
}

.iteration-2-text {
  width: 40%;
  min-width: 200px;
  /* align-self: flex-end; */
}

.iteration-img {
  object-fit: scale-down;
  min-width: 200px;
  width: 50%;
}

/* cc styles */

.cc-body {
  display: flex;
  max-width: 1000px;
  gap: 48px;
}

.cc-text {
  display: flex;
  max-width: 648px;
  gap: 64px;
}

.cc-item-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 648px;
}

.cc-img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 324px;
  min-width: 200px;
}

.cc-img {
  width: 100%;
  object-fit: scale-down;
}

/* prototype */

.prototype {
  width: 100vw;
}

/* N/A */

/* Reflection */

.reflection-body {
  display: flex;
  gap: 48px;
  flex-direction: column;
  max-width: 800px;
}

.reflection-header {
  display: flex;
  gap: 24px;
  flex-direction: row;
}

.reflection-icon {
  width: 32px;
  object-fit: scale-down;
}

  /* Footer styles */
  @media only screen and (max-width: 600px) {
    .reflection-body {
      justify-content: center;
      align-items: center;
    }

    .iteration-1-text {
      width: 100% !important;
    }

    .iteration-2-text {
      width: 100% !important;
    }
  }

  .footer {
    align-self: stretch;
    height: 805px;
    padding-top: 220px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-image: url('images/footer-background3.png');
    background-size: cover;
    background-position: top;
    background-blend-mode: darken;
  }
  
  .footer .inner-footer {
    padding: 0 48px;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }
  
  .footer .cta {
    width: 364px;
    color: #121212;
    font-size: 148px;
    font-family: Playfair Display, Serif;
    font-style: italic;
    font-weight: 400;
    line-height: 133.20px;
    word-wrap: break-word;
  }
  
  .footer .separator {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center; 
   }
  
  .footer .contact-info {
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer .contact-info .cta-btn {
    width: 235px;
    padding: 16px;
    border-radius: 32px;
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .footer .contact-info .cta-btn .text {
    text-align: center;
    color: #121212;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    line-height: 20.80px;
    word-wrap: break-word;
  }

  .cta-btn.btn-image img {
    width: 18px; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
}

.separator {
  align-self: stretch;
  height: 0px;
  border: 1px #121212 solid;
  margin: 23px 0;
}

.sub-footer {
  padding: 48px;
  width: 100%;
  color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Raleway, sans-serif;
}

.de-summary-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.de-summary-description {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* align-self: stretch; */
  width: 768px;
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .de-summary-description {
    flex-direction: column-reverse;
  }
  .de-summary-contents {
    width: 90vw;
  }
  .summary-img {
    width: 90vw !important;
  }
  .description-item-row {
    flex-direction: column !important;
    align-items: center;
  }
}

.de-summary-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.learn-more-button {
  display: flex;
  flex-direction: column;
  background: rgba(247, 246, 246, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  align-items: center;
}

.learn-more-button:hover {
  background: rgba(223, 223, 223, 0.5);
}

.summary-img {
  width: 520px;
}

.item-description-container {
  display: flex;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  background: rgba(247, 246, 246, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 16px;
}

.description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.description-item-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.full-width-detail {
  width: 100%;
}

.in-line-detail {
  width: 270px;
  height: fit-content;
}