body, html {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  overflow-x: hidden;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensures it stays above the background image */
}

.loading-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Adjust to your desired initial background color */
  animation: fadeOut 1.5s forwards; /* Animation lasts for 1.5s and stays in the final state */
  z-index: -1; /* Ensures the pseudo-element stays behind the content inside .loading-page */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loading-text {
  transition: all 0.1s ease-in-out;
  animation: textFadeOut 1.5s ease-in-out forwards;
  background: linear-gradient(90deg, #7AAAE8 0%, #8150DD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes textFadeOut {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(5px); /* Adjust the blur value as needed */
  }
}

@keyframes riseIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.device-container {
  display: flex;
  width: 100vw;
  height: fit-content;
  /* background-image: url(/src/assets/Images/hero-gradient.png);
  background-size: 100% auto;
  background-position: top left;
  background-repeat: no-repeat; */
  align-items: center;
  justify-content: center
}

.project-card-container {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

@media only screen and (max-width: 1025px) {
  .project-card-container {
    gap: 15vh;
  }

  .main-content {
    gap: 0px !important;
  }
}



.main-content {
  display: flex;
  width: 100%;
  /* padding-top: 200px; */
  flex-direction: column;
  /* align-items: center; */
  gap: 200px;
  animation: riseIn 1.5s ease-out forwards; 
}

.intro-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease, height 0.5s ease;  
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  max-width: 700px;
  padding: 0 4vw;
  height: 100vw;
  transition: width 0.5s ease, height 0.5s ease, top 0.5s ease; /* Add transition for top */
}

.hero-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
}

.hero-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button-container {
/* padding: 0 10vw; */
display: flex;
align-items: flex-start;
width: 60vw;
gap: -1px;
align-self: stretch;
}

.end-work-link {
  font-style: italic;
  color: #121212;
}

.end-work-link:hover {
  font-style: italic;
  background: linear-gradient(90deg, #7AAAE8 0%, #8150DD 100%);
  -webkit-background-clip: text; /* Clips the background to the text */
  color: transparent; /* Makes the text color transparent */
}


.my-work-container {
  position: relative;
  opacity: 0;
  padding-right: 4vw;
  padding-top: 25vh;
  width: fit-content;
  min-height: 100vh;
  transition: width 0.5s ease, height 0.5s ease opacity 0.2s ease-in;  
}

.my-work-container {
  will-change: transform;
}
#hero {
  will-change: transform, width, height;
}

.my-work-container.visible {
  opacity: 1;
  transition: opacity 2s ease;
}

.my-work-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 64px;
}

.my-work-header {
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-end;
  color: #121212;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}

/* ABOUT & EXTRAS page styles */

@media only screen and (max-width: 600px) {
  .page-content {
  padding-top: 100px !important;
  }
}

@media only screen and (max-width: 1025px) {
  .page-content {
    width: 80vw !important;
    gap: 36px !important;
  }

  .graphic {
    width: 40vw !important;
  }

  .graphics-section {
    gap: 5vw !important;
  }

  .graphics-column {
    gap: 5vw !important;
  }

  .main-content {
    align-items: center !important;
  }

  .my-work-container {
    padding: 4vw;
  }
}

.page-content {
  display: flex;
  width: 800px;
  padding-top: 200px;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  animation: riseIn 1.5s ease-out forwards; 
}



.ht-section {
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 24px;
  align-self: stretch;
}

h3 {
  color: #121212;
  font-family: "PP Editorial New";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 96px */
  margin: 0;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 64px !important;
  }
  .hero-content {
    width: 80vw !important;
  }

  .my-work-header {
    display: none;

  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 48px !important;
  }

  h3 {
    font-size: 24px;
  }
  .ht-section {
    gap: 12px !important;
  }
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 32px !important;
  }
}

.italic-body {
  font-style: italic;
}

.collage-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
}

.collage-container {
  position: relative; /* Makes sure the tooltip is positioned relative to this area */
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;;
  align-self: stretch; */

  /* border-radius: 16px; */
  /* background: url('../assets/Images/personalCollageV3\(large\).png') / cover no-repeat; */
  box-shadow: 0px 8px 40px 8px rgba(0, 0, 0, 0.50);
  transition: transform 0.3s ease;
}

.collage-container:hover {
  transform: scale(1) rotate(-2deg);
}

.collage {
  max-height: 80vh;
  max-width: 100%;
  height: auto;
  width: auto;
}

.graphics-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
}

.graphic {
  width: 375px;
  height: auto;
  transition: transform 0.3s ease;
}

.graphic:hover {
  transform: scale(1.1);
}

.graphics-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}