.nav-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;    
    height: 100px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.nav-bar {
    display: flex;
    width: 448px;
    max-height: 52px;
    padding: 12px 12px;
    justify-content: center;
    align-items: center;
    /* gap: 115px; */

    border-radius: 50px;
    background: rgba(18, 18, 18, 0.05);
    backdrop-filter: blur(6px);

    /* position: sticky;
    top: 0;
    z-index: 1000; */
}

.nav-elements {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 16px 0;
    padding-inline-start: 0px;
}

.nav-element {
    display: flex;
    width: 48px;
    padding: 0px 8px 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-link {
    color: #121212;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}

.nav-element:hover{
    /* font-family: 'PP Editorial New' !important; */
    padding: 4px 8px 0px 8px;
}

.nav-link:hover {
    font-family: 'PP Editorial New' !important;
    /* font-style: italic; */
}

.nav-link-active {
    color: #121212;
    font-family: "PP Editorial New" !important;
    font-size: 16px;
    /* font-style: italic; */
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}
