.nav-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;    
    height: 100px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.nav-bar {
    display: flex;
    width: 448px;
    max-height: 40px;
    padding: 12px 12px 8px 12px;
    justify-content: center;
    align-items: center;
    /* gap: 115px; */

    border-radius: 50px;
    background: rgba(247, 246, 246, 0.5);
    backdrop-filter: blur(10px);

    /* position: sticky;
    top: 0;
    z-index: 1000; */
}

.nav-elements {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 16px 0;
    padding-inline-start: 0px;
}

.nav-element {
    display: flex;
    width: 48px;
    max-height: 20px;
    padding: 0px 8px 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-link {
    color: #121212;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-height: 20px;
    text-shadow: none !important;
    padding-bottom: 8px;
}

/* .nav-element:hover{
    font-family: 'PP Editorial New' !important;
    padding: 0px 8px 0px 8px;
} */

.nav-link:hover {
    font-family: 'PP Editorial New' !important;
    max-height: 20px;
    padding-top: 3px;
}

.nav-link-active {
    color: #121212;
    font-family: "PP Editorial New" !important;
    font-size: 16px;
    /* font-style: italic; */
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    text-shadow: none !important;
    padding-top: 3px;

}

.nav-link, .nav-link-active, .nav-element {
    text-shadow: none !important;
    box-shadow: none !important;

}

@media only screen and (max-width: 600px) {
    .nav-bar {
        width: 80vw !important;
    }
    .nav-elements {
        justify-content: space-between;
        gap: 0px !important;
        width: 70vw;
    }
}