.tag-container {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: fit-content;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.tag {
    color: #121212;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
}

.circle .product {
    background-color: #05B28A;
}

.circle .exploration {
    background-color: #36C8FF;
}

.circle .case-study {
    background-color: #FF47ED;
}
