.img-container {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: -webkit-fill-available;
    padding-top: 20%;
    background-image: url(../../assets/Images/footer-gradient.png);
    background-size: 100% auto;
    background-position: bottom left; /* Ensures that the bottom of the image is anchored */
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}

.container {
    display: flex !important;
    flex-direction: row;
    height: auto;
    padding: 16px 10vw 16px 10vw !important;
    justify-content: space-between !important;
    align-items: center;
    gap: 0 !important;
    /* background-image: url(../../assets/Images/footer-gradient.png);
    background-size: cover;
    background-position: bottom;
    padding-top: 10%; */
}

.header {
    display: flex;
    color: #FFFFFF;
    font-family: "PP Editorial New";
    font-size: 5vw;
    /* font-size: 64px; */
    font-style: italic;
    font-weight: 400;
    line-height: 130%; /* 87.75px */ 
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    padding-bottom: 24px;
}

.body {
    display: flex;
    width: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.element {
    color: #121212;
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
}

.caps {
    font-weight: 700;
    letter-spacing: 1.4px;
}

.reset-scroll-container {
    display: none;
}

@media (max-width: 768px) {

    .container {
        gap: 10px;
    }

    .body {
        display: none;
    }
    
    .header {
        font-weight: 300;
    }

    .content {
        padding-bottom: 0px;
    }
    
    .reset-scroll-container {
        display: flex;
        width: 135px;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;

        border-radius: 24px;
        background: rgba(18, 18, 18, 0.05);
        backdrop-filter: blur(6px);
    }

    .reset-scroll-container:focus {
        background: rgba(18, 18, 18, 0.25);
    }

    .reset-scroll-body {
        color: #121212;
        padding: 0 8px;
    }
}
